canvas{
    background-color: rgba(0, 0, 0, 0.236);
    border-right: 10px solid green;
}
body{
    margin:0%;
    background-color: rgba(166, 129, 177, 0.296);
}
button {
    background-color: #4CAF50; /* Set the background color of the button */
    border: none; /* Remove the border around the button */
    color: white; /* Set the text color of the button */
    padding: 10px 20px; /* Set the padding around the button text */
    text-align: center; /* Center the button text */
    text-decoration: none; /* Remove any text decoration */
    display: inline-block; /* Display the button as an inline element */
    font-size: 16px; /* Set the font size of the button text */
    margin: 2px 1px; /* Add some margin around the button */
    cursor: pointer; /* Add a cursor pointer on hover */
    border-radius: 4px; /* Add some rounded corners to the button */
  }
  button:hover{
    background-color: rgb(15, 89, 9);
}
/*change made*/
